/* styles.css */
body {
    font-family: "Raleway", sans-serif;
    background-color: black !important;
}

.navbar-brand img {
    max-height: 50px;
    width: auto;
}

.navbar-nav .nav-link {
    margin-left: 10px;
}

@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
}

.carousel-item {
    height: 500px; /* Altura fija para el contenedor del carousel */
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Las imágenes se ajustarán al contenedor */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para que el texto resalte */
    padding: 20px; /* Espacio alrededor del texto */
    border-radius: 10px; /* Bordes redondeados */
}

.carousel-caption h5 {
    font-size: 2.5rem; /* Tamaño del título */
    font-weight: bold; /* Texto en negrita */
    color: #ffffff; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para mejorar legibilidad */
}

.carousel-caption p {
    font-size: 1.25rem; /* Tamaño del subtítulo */
    color: #ffffff; /* Color del texto */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Sombra para mejorar legibilidad */
}
