{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container mt-2 mb-2">
    <h1 class="text-center">Acerca de Nosotros</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="{% static 'img/flancoco.jpg' %}" class="img-fluid rounded-circle" alt="Nosotros">
        </div>
        <div class="col-md-6">
            <h2>OnlyFlans: Pasión por los Postres</h2>
            <p>En OnlyFlans nos especializamos en crear los postres más deliciosos y de alta calidad. Nuestra misión es endulzar la vida de nuestros clientes con sabores únicos y frescos.</p>
            <p>OnlyFlans es una empresa enfocada en el mundo de la pastelería y los postres, en especial en la venta de flan (de ahí su nombre). Nacimos en 2021 en Santiago de Chile como una empresa familiar que pretende entregar productos de calidad a su clientela. Estamos ubicados en Providencia, a pasos del metro Parque Bustamante.</p>
            <p>Si te registras en nuestra página web, podrás tener acceso a postres especiales y exclusivos, diseñados para los paladares más exigentes. 
            Queremos que formes parte de nuestra familia y disfrutes de los sabores que hemos creado con tanto amor y dedicación.</p>
        </div>
    </div>
</div>
{% endblock %}